<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-pid" class="control-label col-xs-12 col-sm-2">{:__('pid')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-pid" data-rule="required" readonly="readonly" class="form-control" name="row[pid]" type="text" value="{:input('pid')}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-uname" class="control-label col-xs-12 col-sm-2">{:__('角色')}:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="input-group">
                <input id="c-uname" data-rule="required"  class="form-control" size="50" name="row[uname]" type="text" value="">
                <input id="c-uid" class="form-control" size="50" name="row[uid]" type="hidden" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="fachoose-name" class="btn btn-primary fachooseuser" data-uid="c-uid" data-uname="c-uname"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-weigh" class="control-label col-xs-12 col-sm-2">{:__('权重')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="1">
        </div>
    </div>
    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[type]', ['演员'=>__('演员'), '导演'=>__('导演'), '讲师'=>__('讲师')], '演员')}
        </div>
    </div>
    
    <div class="form-group">
        <label for="content" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')], 'normal')}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
